@media only screen and (min-width: 691px) {
  #viewport {
  width: 80%;
  margin-right: 16px;
  }
  #sideLinks {
  display:   block;
  margin-left: 16px;
  }
  #menuBtnMobile, #accrBtnMobile, #langLinkMobile {
  display: none;
  }
  #bottomLinks {
  display: none;
  }
  #sitenav {
  top: 28px;
  font-size: 100%;
  align-items: center;
  }
  #headerBanner {
  width: 20%;
  }
  #main {
  min-height: 94vh;
  }
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 690px) {

  #sideLinks {
  display:   none;
  }
  #bottomLinks {
  display: block;
  width: inherit;
  }
  #menuBtn, #accrBtn, #langLink {
  display: none;
  }
  #menuBtnMobile, #accrBtnMobile, #langLinkMobile {
  display: inline;
  font-size: 32px;
  }
  #viewport {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  }
  #sitenav {
  top: 40px;
  left: -118px;
  align-items: center;
  font-size: 110%;
  }
  #headerBanner {
  width: fit-content;
  padding: 0px 10px;
  }
  #main {
  min-height: 82vh;
  }
  body {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'OpenSans';
  src: URL('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pictograms';
  src: URL('modernpics.otf') format('opentype');
}

html {
  height:100%;
}
body {
  min-height:100%;
}
