@media only screen and (min-width: 691px) {
  #viewport {
  width: 80%;
  }
  #sidepanel {
  display:   block;
  }
  #menuBtnMobile, #accrBtnMobile, #langLinkMobile {
  display: none;
  }
  #bottompanel {
  display: none;
  }
  #sitenav {
  top: 28px;
  }
  #headerBanner {
  width: 20%;
  }
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 690px) {

  #sidepanel {
  display:   none;
  }
  #bottompanel {
  display: block;
  width: 100%;
  }
  #menuBtn, #accrBtn, #langLink {
  display: none;
  }
  #menuBtnMobile, #accrBtnMobile, #langLinkMobile {
  display: inline;
  font-size: 32px;
  }
  #viewport {
  width: 100%;
  }
  #sitenav {
  top: 40px;
  left: -118px;
  align-items: flex-end;
  }
  #headerBanner {
  width: fit-content;
  padding: 0px 10px;
  }
  body {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'OpenSans';
  src: URL('OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Pictograms';
  src: URL('modernpics.otf') format('opentype');
}
